# Electron
node_modules/
out/
dist/
dist-electron/
dist-win/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Settings
settings.json

# Build
*.exe
*.dll
*.exe.manifest

# Temp
temp/
tmp/